---
layout: default
---

{{ content }}

<div class="timeline-container">
  {%- if site.posts.size > 0 -%}
  {%- for post in site.posts -%}
  <a class="post-link" href="{{ post.url | relative_url }}">
    <span class="dot"></span>
    <span class="date">
      {{ post.date | date: "%b %e" }}
      <br />
      {{ post.date | date: "%Y" }}
      <br />
    </span>
    <div>
      <h3 class="title">{{ post.title | escape }}</h3>
      <p class="spec-description description">{{ post.excerpt }}</p>
      <span class="icon">
      </span>
    </div>
  </a>
  {%- endfor -%}
  {%- endif -%}
</div>
